:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.main-container {
  overflow: hidden;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 100%;
  height: 2216px;
  margin: 0 auto;
  background: #000000;
  overflow: hidden;
}


.text-inside {
  position: absolute;
  top: 50%;
  width: 300px;
  left: 180px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  z-index: 56;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.text-inside h3 {
  font-size: 30px;
  font-weight: 400;
  font-family: Inter, var(--default-font-family);
}
.text-inside p {
  font-weight: 200;
  margin-top: 20px;
  font-size: 12px;
  font-family: Inter, var(--default-font-family);
}
.text-inside span, h4 {
  margin-top: 20px;
  font-size: 20px;
  font-family: Inter, var(--default-font-family);
  font-weight: 100;
}
.colors {
  display: flex;
  margin-top: 10px;
}
.brown, .white {
  width: 20px;
  height: 20px;
}
.brown {
  background-color: #D1B181;
}
.white {
  background-color: white;
  margin-left: 10px;
}
.text-inside span {
  display: block;
  margin-top: 5px;
}
.text-inside button {
  background-color: #FEBC30;
  border: none;
  width: 120px;
  height: 40px;
  font-family: Inter, var(--default-font-family);
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 1320px;
  margin: 20px 0 0 60px;
  padding: 20px 40px 20px 40px;
  background: rgba(255, 255, 255, 0.35);
  z-index: 109;
  border-radius: 70px;
  backdrop-filter: blur(6px);
}
.design-for-box {
  flex-shrink: 0;
  position: relative;
  width: 226px;
  height: 48px;
  background: url(../../static/img/3cbddc60-fed7-4a1a-8e00-7d88b7bff453.png)
    no-repeat center;
  background-size: cover;
  z-index: 110;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 618px;
  z-index: 111;
}
.goods-services {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 112;
}
.completed-projects {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 113;
}
.blog {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 114;
}
.contacts {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 115;
}
.btns {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 226px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 116;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 226px;
  padding: 11px 20px 11px 20px;
  background: #febc30;
  z-index: 117;
  border-radius: 8px;
}
.get-in-touch {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 26px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 427px;
  margin: 40px 0 0 65px;
  z-index: 4;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 94px;
  height: 26px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.48px;
  z-index: 5;
}
.tiles {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 90px;
  height: 26px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.48px;
  z-index: 6;
}
.armstrong-lamps {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 227px;
  height: 26px;
  color: #febc30;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.48px;
  z-index: 7;
}
.frame-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 312px;
  margin: 20px 0 0 60px;
}
.bulb {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 1;
  overflow: hidden;
}
.elements {
  position: relative;
  width: 26.667px;
  height: 33.333px;
  margin: 3.333px 0 0 6.667px;
  background: url(../../static/img/d946df76-0453-4ac7-9c16-8e8798cef62a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 2;
}
.armstrong-tiles {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 44px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 28px;
  font-weight: 500;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.frame-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  width: 1440px;
  margin: 20px 0 0 0;
  padding: 0 60px 0 60px;
  z-index: 8;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 648px;
  padding: 0 0 10px 0;
  z-index: 9;
}
.frame-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 10;
}
.arrow-left-round {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 11;
  overflow: hidden;
}
.arrow {
  position: relative;
  width: 8px;
  height: 16px;
  margin: 8px 0 0 12px;
  background: url(../../static/img/684005d8-beb3-4dc3-96ce-08dc1e1a8979.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 12;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 580px;
  height: 320px;
  background: url(../../static/img/0ad53cdb8f2e69ab9a17c58481745b82dc259acd.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
  border-radius: 12px;
}
.arrow-left-round-5 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  background: url(../../static/img/f9373712-0659-4086-9655-cdbe3cf3969b.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
  overflow: hidden;
}
.from-1-to-10 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.32px;
  z-index: 15;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 648px;
  z-index: 16;
}
.harakt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 17;
}
.frame-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 10px 0 20px 0;
  z-index: 18;
}
.product-name {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.armstrong {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.frame-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 20px 0 20px 0;
  border-top: 2px solid #ffffff;
  z-index: 21;
}
.warranty {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.text-e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.frame-9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 20px 0 20px 0;
  border-top: 2px solid #ffffff;
  z-index: 24;
}
.region {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 70px;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
  white-space: nowrap;
  z-index: 25;
}
.europe {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.harakt-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 27;
}
.frame-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 10px 0 20px 0;
  border-top: 2px solid #febc30;
  z-index: 28;
}
.retail-price {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #febc30;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.soms {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #febc30;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.frame-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 20px 0 20px 0;
  border-top: 2px solid #febc30;
  z-index: 31;
}
.wholesale-price {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #febc30;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.soms-d {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #febc30;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.frame-e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 20px 0 20px 0;
  border-top: 2px solid #febc30;
  z-index: 34;
}
.wholesale-price-f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #febc30;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.soms-10 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #febc30;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.frame-11 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  width: 1440px;
  margin: 42px 0 0 0;
  padding: 0 60px 0 60px;
  z-index: 86;
}
.ceiling-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 648px;
  height: 196px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.48px;
  z-index: 87;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 28px;
  position: relative;
  width: 648px;
  z-index: 88;
}
.frame-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  min-width: 0;
  z-index: 89;
}
.calculate-square-meters {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 90;
}
.frame-14 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  z-index: 91;
}
.frame-15 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 312px;
  padding: 16px 10px 16px 10px;
  background: #ffffff;
  z-index: 92;
  overflow: hidden;
  border-radius: 12px;
}
.frame-input {
  flex-shrink: 0;
  position: absolute;
  width: 312px;
  height: 60px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 94;
  outline: none;
}
.length {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #000000;
  font-family: Helvetica Neue, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.24px;
  z-index: 93;
}
.frame-16 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 312px;
  padding: 16px 8px 16px 8px;
  background: #ffffff;
  z-index: 95;
  overflow: hidden;
  border-radius: 12px;
}
.frame-input-17 {
  flex-shrink: 0;
  position: absolute;
  width: 312px;
  height: 60px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 97;
  outline: none;
}
.width {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #000000;
  font-family: Helvetica Neue, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.24px;
  z-index: 96;
}
.frame-18 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  min-width: 0;
  z-index: 98;
}
.frame-19 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 648px;
  z-index: 99;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 312px;
  padding: 20px 40px 20px 40px;
  cursor: pointer;
  background: #febc30;
  border: none;
  z-index: 100;
  border-radius: 12px;
}
.buy {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.28px;
  z-index: 101;
}
.frame-1a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 14px;
  position: relative;
  width: 184px;
  padding: 14px 18px 14px 18px;
  background: #febc30;
  z-index: 102;
  border-radius: 12px;
}
.rectangle {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: #d1b181;
  border: 2px solid #ffffff;
  z-index: 103;
}
.rectangle-1b {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: #000000;
  border: 2px solid #ffffff;
  z-index: 104;
}
.rectangle-1c {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #000000;
  z-index: 105;
}
.frame-1d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 104px;
  padding: 20px 6px 20px 6px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 106;
  border-radius: 8px;
}
.currency {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 107;
}
.arrow-1e {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 8px;
  background: url(../../static/img/6156203a-15a7-4cc9-8dda-1c5e76b04d54.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 108;
}
.frame-1f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;
  width: 1440px;
  margin: 44px 0 0 0;
  padding: 0 60px 0 60px;
  z-index: 46;
}
.similar-products {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 26px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.48px;
  z-index: 47;
}
.frame-20 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 1320px;
  z-index: 48;
}
.component {
  flex-shrink: 0;
  position: relative;
  width: 424px;
  height: 424px;
  z-index: 49;
}
.image-21 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../static/img/image\ 6.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
  border-radius: 12px;
}
.component::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  opacity: 0;
  transition: opacity 0.3s ease; 
  border-radius: 12px;
  z-index: 51;
}
.component:hover::before {
  opacity: 1;
}
.component:hover .image-21 {
  filter: blur(5px);
}
.component:hover .text-inside {
  opacity: 1;
  visibility: visible; 
  transition: opacity 0.3s ease, visibility 0s; 
} 
.component:hover .image-21 {
  filter: blur(5px);
}
.component-22 {
  flex-shrink: 0;
  position: relative;
  width: 424px;
  height: 424px;
  z-index: 51;
}

.image-23 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../static/img/733c968bac1cd7a2ab17e6e236365e724b950681.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
  border-radius: 12px;
}

.component-22::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  opacity: 0;
  transition: opacity 0.3s ease; 
  border-radius: 12px;
  z-index: 53;
}
.component-22:hover::before {
  opacity: 1;
}
.component-22:hover .image-23{
  filter: blur(5px);
}
.component-22:hover .text-inside {
  opacity: 1;
  visibility: visible; 
  transition: opacity 0.3s ease, visibility 0s; 
} 
.component-22:hover .image-23 {
  filter: blur(5px);
}
.component-24 {
  flex-shrink: 0;
  position: relative;
  width: 424px;
  height: 424px;
  z-index: 53;
}
.image-25 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../static/img/9eab9191f02b2dc714a0fa6fd65ca4e560f61651.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
  border-radius: 12px;
}
.component-24::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  opacity: 0;
  transition: opacity 0.3s ease; 
  border-radius: 12px;
  z-index: 55;
}
.component-24:hover::before {
  opacity: 1;
}
.component-24:hover .image-25{
  filter: blur(5px);
}
.component-24:hover .text-inside {
  opacity: 1;
  visibility: visible; 
  transition: opacity 0.3s ease, visibility 0s; 
} 
.component-24:hover .image-25 {
  filter: blur(5px);
}
.frame-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;
  width: 1440px;
  margin: 60px 0 0 0;
  padding: 0 60px 0 60px;
  z-index: 37;
}
.youtube {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 26px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.48px;
  z-index: 38;
}
.noor {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 1320px;
  z-index: 39;
}
.youtube-27 {
  flex-shrink: 0;
  position: relative;
  width: 424px;
  height: 240px;
  background: #ffffff;
  z-index: 40;
  overflow: hidden;
}
.image-28 {
  position: absolute;
  width: 424px;
  height: 240px;
  top: 0;
  left: 0;
  background: url(../../static/img/2921cfa9-c2a6-4f60-a24a-e626cea96cfa.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}
.noor-29 {
  flex-shrink: 0;
  position: relative;
  width: 424px;
  height: 240px;
  background: #ffffff;
  z-index: 42;
  overflow: hidden;
}
.image-2a {
  position: absolute;
  width: 424px;
  height: 240px;
  top: 0;
  left: 0;
  background: url(../../static/img/1eef9327-da46-4aee-9aeb-7493cb050856.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.noor-2b {
  flex-shrink: 0;
  position: relative;
  width: 424px;
  height: 240px;
  background: #ffffff;
  z-index: 44;
  overflow: hidden;
}
.image-2c {
  position: absolute;
  width: 424px;
  height: 240px;
  top: 0;
  left: 0;
  background: url(../../static/img/f52c004c-509f-416c-9f37-e247b4d620fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.frame-2d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 76px;
  position: relative;
  width: 1440px;
  padding: 40px 60px 40px 60px;
  border-bottom: 8px solid #ffffff;
  z-index: 55;
}
.frame-2e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 40px;
  position: relative;
  width: 706px;
  z-index: 56;
}
.design-for-box-new {
  flex-shrink: 0;
  position: relative;
  width: 174px;
  height: 36px;
  background: url(../../static/img/logo.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 706px;
  height: 276px;
  z-index: 58;
}
.flex-row-e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 706px;
  height: 176px;
  margin: 0 0 0 0;
  z-index: 73;
}
.frame-2f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 175px;
  z-index: 59;
}
.products-and-services {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.group-30 {
  flex-shrink: 0;
  position: relative;
  width: 175px;
  height: 132px;
  font-size: 0px;
  z-index: 61;
}
.lighting {
  display: block;
  position: relative;
  height: 24px;
  margin: 0 0 0 0;
  color: #999999;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 62;
}
.tiles-31 {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 0;
  color: #999999;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 63;
}
.repair {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 0;
  color: #999999;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 64;
}
.service-wiring {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 0;
  color: #999999;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 65;
}
.frame-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 261px;
  z-index: 66;
}
.completed-projects-33 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 67;
}
.group-34 {
  flex-shrink: 0;
  position: relative;
  width: 182px;
  height: 132px;
  font-size: 0px;
  z-index: 68;
}
.offices {
  display: block;
  position: relative;
  height: 24px;
  margin: 0 0 0 0;
  color: #999999;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 69;
}
.apartments {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 0;
  color: #999999;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 70;
}
.shopping-centers {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 0;
  color: #999999;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 71;
}
.others {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 0;
  color: #999999;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 72;
}
.frame-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 230px;
  height: 176px;
  z-index: 73;
}
.blog-36 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 74;
}
.contacts-37 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.2px;
  z-index: 75;
}
.privacy-policy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 230px;
  height: 48px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  letter-spacing: -0.2px;
  z-index: 76;
}
.terms-of-service {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 230px;
  height: 48px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  letter-spacing: -0.2px;
  z-index: 77;
}
.cn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;
  width: 340px;
  margin: 60px 0 0 0;
  z-index: 78;
}
.social-icons {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../../static/img/whatsapp.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
}
.social-icons-38 {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../../static/img/telegram.png)
    no-repeat center;
  background-size: cover;
  z-index: 80;
  overflow: hidden;
}
.social-icons-39 {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../../static/img/youtube.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
  overflow: hidden;
}
.social-icons-3a {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../../static/img/x.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
  overflow: hidden;
}
.social-icons-3b {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../../static/img/facebook.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
  overflow: hidden;
}
.social-icons-3c {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  background: url(../../static/img/insta.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
  overflow: hidden;
}
.screenshot {
  flex-shrink: 0;
  position: relative;
  width: 538px;
  height: 332px;
  background: url(../../static/img/bishkek.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
}

.line {
  width: 100%;
  background-color: white;
  height: 8px;
  margin-top: 60px;
}