{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Armstrong</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" />
    <link rel="stylesheet" href="{%static 'css/contacts.css' %}"/>
  </head>
  <body>
    <div class="main">

    <div class="main-container">
     
<div class="container">

 <div class="header">
        <a <a href="{% url 'index' %}">
        <div class="design-for-box-new"></div>
        </a>
        <div class="nav">
          <a <a href="{% url 'catalog' %}" class="goods-services">Товары и услуги</a>
          <a <a href="{% url 'index' %}" class="completed-projects-15">Реализованные проекты</a>
          <a <a href="{% url 'blog' %}" class="blog-16">Блог</a
          ><a <a href="{% url 'contact' %}" class="contacts-17">Контакты</a>
        </div>
        <button class="btns">
          <div class="btn">
            <a href="{% url 'contact' %}" class="get-in-touch">Выйти на связь</a>
          </div>
        </button>
      </div>


      <div class="image">
        <div class="frame-c">
          <span class="vyiti-na-svyaz">Выйти на связь</span>
          <div class="frame-d">
            <div class="frame-e">
              <input class="frame-input" placeholder="Имя" />
            </div>
            <div class="frame-f">
              <input class="frame-input-10" placeholder="Номер телефона" />
            </div>
            <div class="frame-11">
              <input class="frame-input-12" placeholder="Оставить комментарий" />
            </div>
            <button class="frame-13">
              <span class="phone-number-14">Номер телефона</span>
            </button>
          </div>
        </div>
      </div>
      <div class="frame-18">
        <span class="armstrong">arm1strong</span
        ><span class="promo-code-15">промокод на 15%</span>
      </div>
      <div class="frame-19">
        <div class="frame-1a">
          <div class="mail"><div class="elements"></div></div>
          <span class="armstrong-email">armstrong@gmail.com</span>
        </div>
        <div class="frame-1b">
          <div class="location"><div class="elements-1c"></div></div>
          <span class="ayu-grant-tc">AYU Grant TC</span>
        </div>
        <div class="frame-1d">
          <div class="call"><div class="elements-1e"></div></div>
          <span class="phone-number-1f">+996 (999) 999-999</span>
        </div>
        <div class="cn-20">
          <div class="social-icons-21"></div>
          <div class="social-icons-22"></div>
          <div class="social-icons-23"></div>
          <div class="social-icons-24"></div>
          <div class="social-icons-25"></div>
          <div class="social-icons-26"></div>
        </div>
      </div>
    
    
</div>
 </div>

      <div class="line"></div>

      <div class="container">

       <div class="frame">
        <div class="frame-1">
          <a <a href="{% url 'index' %}">
          <div class="design-box-new"></div>
          </a>
          <div class="group">
            <div class="flex-row-ac">
              <div class="frame-2">
                <a <a href="{% url 'catalog' %}" class="products-services">Товары и услуги</a>
                <div class="group-3">
                  <span class="lighting">светильники</span
                  ><span class="tiles">плиты</span
                  ><span class="repair">ремонт</span
                  ><span class="wiring-service">услуга проводки</span>
                </div>
              </div>
              <div class="frame-4">
                <span class="completed-projects">Реализованные проекты</span>
                <div class="group-5">
                  <span class="offices">офисы</span
                  ><span class="apartments">квартиры</span
                  ><span class="shopping-centers">торговые центры</span
                  ><span class="others">другие</span>
                </div>
              </div>
              <div class="frame-6">
                <a <a href="{% url 'blog' %}" class="blog">Блог</a
                ><a <a href="{% url 'contact' %}" class="contacts">Контакты</a
                ><span class="privacy-policy"
                  >Политика<br />конфиденциальности</span
                ><span class="terms-of-service">Политика<br />соглашения</span>
              </div>
            </div>
            <div class="cn">
              <div class="social-icons"></div>
              <div class="social-icons-7"></div>
              <div class="social-icons-8"></div>
              <div class="social-icons-9"></div>
              <div class="social-icons-a"></div>
              <div class="social-icons-b"></div>
            </div>
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.7793528410466!2d74.63698900101348!3d42.85622845264179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb6572914c7b7%3A0x669f8315bcc304af!2z0KLQtdGF0L3QviDQn9Cw0YDQug!5e0!3m2!1sru!2skg!4v1739354829416!5m2!1sru!2skg" width="750" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      </div>


    </div>

    <script src="{% static 'js/formValidation.js' %}"></script>
  </body>
</html>
