{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Armstrong</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SB+Sans+Interface:wght@400&display=swap"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <div class="header">
          <div class="design-for-box-new"></div>
          <div class="nav">
            <a href="{% url 'catalog' %}" class="goods-and-services"
              >Товары и услуги</a
            >
            <a href="#" class="completed-projects" id="scroll"
              >Реализованные проекты</a
            >
            <a href="{% url 'blog' %}" class="blog">Блог</a>
            <a href="{% url 'contact' %}" class="contacts">Контакты</a>
          </div>
          <button class="btns">
            <div class="btn">
              <a href="{% url 'contact' %}" class="get-in-touch">Выйти на связь</a>
            </div>
          </button>
        </div>
        <div class="frame">
          <div class="content-left">
            <span class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet</span
            ><span class="duis-aute-irure-dolor"
              >Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum</span
            >
            <div class="btns-1">
              <a href="{% url 'contact' %}" class="btn-2">
                <span class="consult">Консультироваться</span></a>
              <a href="{% url 'blog' %}" class="learn-more">
                <span class="slider">Узнать подробнее</span>
              </a>
            </div>
          </div>
          <div class="left-side-container">
            <div class="slider-container">
              <div class="arrow-round" onclick="prevSlide()">
                <div class="arrow"></div>
              </div>
              <div class="box">
                <img
                  src="{% static 'img/4264928a-684e-4f7c-93f7-b560d6fdec73.png' %}"
                  class="slide-img active"
                />
                <img src="{% static 'img/dsa2.png' %}" class="slide-img" />
                <img
                  src="{% static 'img/f52c004c-509f-416c-9f37-e247b4d620fb.png' %}"
                  class="slide-img"
                />
              </div>

              <div class="arrow-right-round" onclick="nextSlide()">
                <div class="arrow-5"></div>
              </div>
            </div>

            <div class="ellipse">
              <div class="ellipse-dot active" onclick="setSlide(0)"></div>
              <div class="ellipse-dot" onclick="setSlide(1)"></div>
              <div class="ellipse-dot" onclick="setSlide(2)"></div>
            </div>
          </div>
        </div>

        <div class="frame-6">
          <div class="card">
            <div class="gift"><div class="elements"></div></div>
            <span class="discounts"
              >Постоянные скидки на товары. Скидка именинникам 3%
            </span>
          </div>
          <div class="card-7">
            <div class="wrench"><div class="elements-8"></div></div>
            <span class="installation"
              >Установка профессионалами в наших филиалах</span
            >
          </div>
          <div class="card-9">
            <div class="car"><div class="elements-a"></div></div>
            <span class="delivery"
              >Доставляем товары<br />по Кыргызстану за <br />2-3 дня
            </span>
          </div>
          <div class="card-b">
            <div class="ok-finger"><div class="elements-c"></div></div>
            <span class="discounts-d"
              >Постоянные скидки на товары. Скидка именинникам 3%
            </span>
          </div>
        </div>
        <div class="content">
          <div class="left">
            <a href="{% url 'catalog' %}" class="component">
              <div class="image-e"></div>
              <div class="image-f"></div>
              <div class="text-overlay">
                Полочные и Потолочные <br />
                Плиты
              </div>
            </a>
            <a href="{% url 'contact' %}" class="btn-10">
                    <span class="custom-order">Сделать индивидуальный заказ</span>
            </a>
          </div>

          <a href="{% url 'catalog' %}" class="component-11">
                <div class="image-12"></div>
                <div class="lamps">
                  Светильники <br />
                  И Лампы
                </div>
          </a>
        </div>
        <div class="frame-13" id="target">
          <div class="frame-14">
            <span class="relevant-products">Релевантные товары</span>
            <div class="frame-15">
              <span class="view-all-ceilings">Посмотреть все потолки</span
              ><span class="view-all-lamps">Посмотреть все лампы</span>
            </div>
          </div>
          <div class="frame-16">
            <a href="#">
              <div class="component-17">
                <div class="image-18"></div>
                <div class="text-inside">
                  <h3>Потолок Армстронг</h3>
                  <p>
                    Эконом сегмент, в виде 12 мм плит Байкал, Оазис, Скала,
                    Плейн. И настоящих акустических плит от 15 мм толщиной,
                    позволяющих сделать звукоизоляцию помещения, либо наоборот
                    звукопоглощение.
                  </p>
                  <h4>Цена розничная:</h4>
                  <span>1426.00 руб</span>
                  <div class="colors">
                    <div class="brown"></div>
                    <div class="white"></div>
                  </div>
                  <br />
                  <button>Купить</button>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="component-19">
                <div class="image-1a"></div>
                <div class="text-inside">
                  <h3>Потолок Армстронг</h3>
                  <p>
                    Эконом сегмент, в виде 12 мм плит Байкал, Оазис, Скала,
                    Плейн. И настоящих акустических плит от 15 мм толщиной,
                    позволяющих сделать звукоизоляцию помещения, либо наоборот
                    звукопоглощение.
                  </p>
                  <h4>Цена розничная:</h4>
                  <span>1426.00 руб</span>
                  <div class="colors">
                    <div class="brown"></div>
                    <div class="white"></div>
                  </div>
                  <br />
                  <button>Купить</button>
                </div>
              </div>
            </a>

            <a href="#">
              <div class="component-1b">
                <div class="image-1c"></div>
                <div class="text-inside">
                  <h3>Свет Армстронг</h3>
                  <p>
                    Эконом сегмент, в виде 12 мм плит Байкал, Оазис, Скала,
                    Плейн. И настоящих акустических плит от 15 мм толщиной,
                    позволяющих сделать звукоизоляцию помещения, либо наоборот
                    звукопоглощение.
                  </p>
                  <h4>Цена розничная:</h4>
                  <span>1426.00 руб</span>
                  <div class="colors">
                    <div class="brown"></div>
                    <div class="white"></div>
                  </div>
                  <br />
                  <button>Купить</button>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="frame-1d">
          <div class="frame-1e">
            <span class="completed-projects-1f">Реализованные проекты</span>
            <div class="frame-20"></div>
          </div>
          <div class="frame-21">
            <div class="image-22"></div>
            <div class="image-23"></div>
            <div class="image-24"></div>
          </div>
        </div>
        <div class="frame-25">
          <span class="youtube-videos">Наши видео на Youtube</span>
          <div class="youtube">
            <div class="noor-26"><div class="image-27"></div></div>
            <div class="noor-28"><div class="image-29"></div></div>
            <div class="noor-2a"><div class="image-2b"></div></div>
          </div>
        </div>
        <div class="frame-2c">
          <span class="reviews">Отзывы</span>
          <div class="review">
            <div class="profile">
              <div class="account">
                <div class="reviews-2d"></div>
                <span class="name">Джон Джонс</span>
              </div>
              <span class="text-review"
                >Больше всего понравилась окраска кружки, но,к сожалению,<br />после
                первой стирки в посудомоечной машинке появились<br />маленькие
                царапки, очень жаль :(</span
              ><span class="date-review">18 декабря </span>
            </div>
            <div class="review-2e">
              <div class="profile-2f">
                <div class="account-30"></div>
                <span class="name-31">Джон Джонс</span>
              </div>
              <span class="text-review-32"
                >Больше всего понравилась окраска кружки, но,к сожалению,<br />после
                первой стирки в посудомоечной машинке появились<br />маленькие
                царапки, очень жаль :(</span
              ><span class="date-review-33">18 декабря </span>
            </div>
            <div class="review-34">
              <div class="profile-35">
                <div class="account-36"></div>
                <span class="name-37">Джон Джонс</span>
              </div>
              <span class="text-review-38"
                >Больше всего понравилась окраска кружки, но,к сожалению,<br />после
                первой стирки в посудомоечной машинке появились<br />маленькие
                царапки, очень жаль :(</span
              ><span class="date-review-39">18 декабря </span>
            </div>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="container">
        <div class="frame-3a">
          <div class="frame-3b">
            <div class="design-for-box"></div>
            <div class="group">
              <div class="flex-row-fb">
                <div class="frame-3c">
                  <span class="goods-services">Товары и услуги</span>
                  <div class="group-3d">
                    <span class="lighting">светильники</span
                    ><span class="plates">плиты</span
                    ><span class="repair">ремонт</span
                    ><span class="wiring-service">услуга проводки</span>
                  </div>
                </div>
                <div class="frame-3e">
                  <span class="completed-projects-3f"
                    >Реализованные проекты</span
                  >
                  <div class="offices">
                    <span class="apartments">офисы</span
                    ><span class="shopping-centers">квартиры</span
                    ><span class="others">торговые центры</span
                    ><span class="frame-40">другие</span>
                  </div>
                </div>
                <div class="blog-41">
                  <a href="{% url 'blog' %}" class="contacts-42">Блог</a>
                  <a href="{% url 'contact' %}" class="privacy-policy">Контакты</a>
                  <a href="#" class="terms-of-service"
                    >Политика<br />конфиденциальности</a
                  >
                  <a href="#" class="cn">Политика<br />соглашения</a>
                </div>
              </div>
              <div class="social-icons">
                <a href="https://wa.me/996777777777" class="social-icons-43"></a>
                <a href="https://t.me/mmwwxz/" class="social-icons-44"></a>
                <a href="https://youtube.com/" class="social-icons-45"></a>
                <a href="https://facebook.com/" class="social-icons-47"></a>
                <a href="https://instagram.com/" class="screen-shot"></a>
              </div>
            </div>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.7793528410466!2d74.63698900101348!3d42.85622845264179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb6572914c7b7%3A0x669f8315bcc304af!2z0KLQtdGF0L3QviDQn9Cw0YDQug!5e0!3m2!1sru!2skg!4v1739354829416!5m2!1sru!2skg" width="750" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="img-e"></div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>